@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Avenida Paulo Erlei Alves Abrantes, 1325.<br />
    Volta Redonda, RJ. 27.254-260.<br />
    Telefone: (24) 3340-8400.
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Suporte@foa.org.br</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">marketing@foa.org.br</a>
</address>
<img src="~/Img/Foa.png" />
